= simple_form_for @track do |f|
  = f.input :name
  = f.input :description
  = f.button :submit, 'Save', class: 'btn btn-sm btn-success'
  = link_to 'Back', tracks_path, class: 'btn btn-sm btn-default'