= simple_form_for(@upload, :html => {enctype: 'multipart/alternative'}) do |f|
  = f.input :type_of_file, as: :select, collection: [ "Roles", "Track Categories", "Tracks", "Levels"]
  = f.input :role, as: :select, collection: []
  = f.input :track_category, as: :select, collection: []
  = f.input :track, as: :select, collection: []
  = f.hint '', id: 'allowed_column_headers'
  = f.file_field :input_file
  %br
  = f.button :submit, 'Import', class: 'btn btn-sm btn-success'