%nav.navbar.navbar-default.navbar-static-top{:role => "navigation", :style => "margin-bottom: 0"}
  .navbar-header
    %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
      %span.sr-only Toggle navigation
      %span.icon-bar
      %span.icon-bar
      %span.icon-bar
    %a.navbar-brand Admin Panel
  %ul.nav.navbar-top-links.navbar-right.pull-right
    %li
      = link_to '<i class="fa fa-arrow-left fa-fw"></i>Back to Intranet</a>'.html_safe, intranet_path
  .navbar-default.sidebar{:role => "navigation"}
    .sidebar-nav.navbar-collapse
      %ul#side-menu.nav.in
        %li
          %a{:href => "/"}
            %i.fa.fa-dashboard.fa-fw
            Dashboard
        %li
          = link_to '<i class="fa fa-database fa-fw"></i> Roles</a>'.html_safe, roles_path
        %li
          = link_to '<i class="fa fa-database fa-fw"></i> Track categories</a>'.html_safe, track_categories_path
        %li
          = link_to '<i class="fa fa-database fa-fw"></i> Tracks</a>'.html_safe, tracks_path
        %li
          = link_to '<i class="fa fa-database fa-fw"></i> Levels</a>'.html_safe, levels_path
        %li
          = link_to '<i class="fa fa-database fa-fw"></i> Files</a>'.html_safe, uploads_path
        %li
          = link_to '<i class="fa fa-file fa-fw"></i> Import a file</a>'.html_safe, new_upload_path
